# For shared DB with inventory schema, add: ?options=-c%20search_path%3Dinventory%2Cpublic
# For Render add: ?sslmode=require&options=-c%20search_path%3Dinventory%2Cpublic
DATABASE_URL="postgresql://user:password@localhost:5432/inventory_db"
JWT_SECRET="your-super-secret-jwt-key-min-32-chars"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
OPENAI_API_KEY=""
